
@{
    ViewBag.Title = "AddPlace";
}

<h2>Add Place</h2>
<form method="post" action="SavePlace" enctype="multipart/form-data">
<table>
    <tr>
        <th>Tourist Place Id</th>
        <td>
            <input type="text"
                   name="TouristPlaceId"
                   id="TouristPlaceId" />
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <td>
            <input type="text"
                   name="TouristPlaceName"
                   id="TouristPlaceName" />
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td>
            <textarea name="Description"
                      id="Description"
                      rows="5" cols="150">

            </textarea>
        </td>
    </tr>
    <tr>
        <th>Location</th>
        <td>
            <input type="text"
                   name="Location"
                   id="Location" />
        </td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            <input type="checkbox"
                   id="Status"
                   name="Status" />
        </td>
    </tr>
    <tr>
        <th>Moreinfo</th>
        <td>
            <input type="text"
                   id="Moreinfo"
                   name="Moreinfo" />
        </td>
    </tr>
    <tr>
        <th>Select Image</th>
        <td>
            <input type="file"
                   name="Files"
                   id="Files" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="reset"
                   value="reset" />
        </td>
        <td>
            <input type="submit"
                   value="Save TouristPlace" />
        </td>
    </tr>

</table>
</form>

